.selected{
  background: #eee;
}
.list{
  cursor: pointer;
}
.list:hover{
  background: #999;
  color: #333;
  
}
.list-item{
  cursor: pointer;
}
.list-item:hover{
  background: #999;
  color: #333;
}
/*.layout{
  position: absolute;
  box-sizing: border-box;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  padding:3px;
  background: #f00;
}
.layout>.top-bar{
  display: flex;
  top:5px;
  left:5px;
  right:5px;
  max-height: 32px;
  min-height: 32px;
  padding:3px;
  background: #f55;
}
.layout>.middle{
  position: relative;
  has-layout: true;
  top:5px;
  left:0px;
  right:5px;
  bottom:32px;
  min-height: calc(100% - 84px);
  padding:3px;
  background: #f99;
}
.layout>.middle>.left-panel{
  position: absolute;
  overflow-y: scroll;
  top:5px;
  min-width: 30%;
  left:5px;
  bottom:5px;
  display: block;
  padding:3px;
  background: #33f;
}
.layout>.middle>.main-panel{
  display: block;
  position: absolute;
  overflow-y: scroll;
  top:5px;
  left:30%;
  right:5px;
  bottom:5px;
  padding:3px;
  background: #77f;
}
*/