<div class="main-container">
    <div class="alert alert-app-level">
    </div>
    <header class="header header-6">
          
      <img width="30" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      <h3 style="color:hsl(198, 0%, 91%);">Todo Lists [{{lists.length}}]</h3>
      <div style="whitespace:no-wrap">
      </div>
    </header>
    <nav class="subnav">
    </nav>
    <input type="hidden" #modals>
    <input type="hidden" #selection>
    <div class="content-container">
        <div class="content-area">
          <!--
          <pre>{{data.selectedItem | json}}</pre>
          <pre>{{controls.editItemModal | json}}</pre>
          <pre>{{controls.editItemModal | json}}</pre>
          -->
          <div *ngIf="data.selectedList">
            <div class="clr-row">
              <button class="btn btn-link" (click)="modals.createItem = true" title="Create Todo Item" style="margin-top: 27px;min-width:48px;max-width:48px;max-height:48px;min-height:48px;border-radius:50%">
                <clr-icon shape="plus-circle"></clr-icon>
              </button>
              <h1 class="clr-col-10">{{data.selectedList.list.title}}</h1>
            </div>
            <div class="clr-row">
              <div class="clr-col-4" *ngFor="let status of statuses" style="border-right:1px dotted #777;">
                <h2 style="text-align: center;">{{status}}</h2>
                <div *ngFor="let todo of data.selectedList.todos" class="list-item">
                  <div *ngIf="todo.status === status">
                    <clr-dropdown class="menu" style="display:block;">
                      <div style="display:inline-block;" clrDropdownTrigger>
                        <span class="badge badge-1">#{{todo.id}}</span>
                        <span>{{todo.title}}</span>
                      </div>
                      <clr-dropdown-menu clrPosition="right" *clrIfOpen>
                        <div clrDropdownItem class="btn btn-tertiary" (click)="deleteItem(data.selectedList,todo)">Delete</div>
                        <div clrDropdownItem class="btn btn-tertiary" (click)="editItem(todo);">Edit</div>
                        <div clrDropdownItem class="btn btn-tertiary" (click)="copyItem(item)">Copy</div>
                      </clr-dropdown-menu>
                    </clr-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="sidenav">
          <ul *ngFor="let item of lists"
            [ngClass]="{'selected':item===data.selectedList}"
            class="list">
            <li>
              <div (click)="selectList(item)" style="display:inline-block">
                <small>#{{item.list.id}}</small>
                <span> {{item.list.title}} </span>
                <span class="badge badge-blue">{{item.todosCount}}</span>
              </div>
              <clr-dropdown class="menu float-right">
                <div class="btn btn-icon btn-link btn-sm" clrDropdownTrigger title="actions">
                  <clr-icon shape="ellipsis-vertical"></clr-icon>
                </div>
                <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                  <div clrDropdownItem class="btn btn-tertiary" (click)="deleteList(list)">Delete</div>
                  <div clrDropdownItem class="btn btn-tertiary">Edit</div>
                    <div clrDropdownItem class="btn btn-tertiary" (click)="copyList(item)">Copy</div>
                </clr-dropdown-menu>
              </clr-dropdown>
            </li>
          </ul>
          <div>
            <button class="btn btn-link float-right" (click)="modals.createList = true" title="Create List" style="min-width:48px;max-width:48px;max-height:48px;min-height:48px;border-radius:50%">
              <clr-icon shape="plus-circle"></clr-icon>
            </button>
          </div>
        </nav>
    </div>
</div>
<clr-modal [(clrModalOpen)]="modals.createList">
  <h3 class="modal-title">Create List</h3>
  <div class="modal-body">
    Name: <input clrInput type="text" [(ngModel)]="data.newListName" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modals.createList = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="createList(data.newListName);modals.createList = false">Create</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="modals.createItem">
  <h3 class="modal-title">Create Todo</h3>
  <div class="modal-body">
  <div>
    Title: <input clrInput type="text" [(ngModel)]="data.newItemName"/>
  </div>
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modals.createItem = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="createItem(data.selectedList,data.newItemName);modals.createItem = false">Ok</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="controls.editItemModal">
  <h3 class="modal-title">Edit Todo</h3>
  <div class="modal-body">
  <div *ngIf="controls.editItemModal">
    Title: <input clrInput type="text" [(ngModel)]="data.selectedItem.title"/>
    Status: <select clrSelect name="statuses" [(ngModel)]="data.selectedItem.status">
      <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
    </select>
    <input clrInput type="text" [(ngModel)]="data.selectedItem.status"/>
  </div>
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="controls.editItemModal = false">Close</button>
    <button type="button" class="btn btn-outline" (click)="saveItem(data.selectedItem);controls.editItemModal = false">Save</button>
  </div>
</clr-modal>




<!--The content below is only a placeholder and can be replaced.-->
<!--div class="layout">
  <div class="top-bar">

    <img width="30" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <h3>Database [{{lists.length}}]</h3>
    <div>
      <span><input type="text" [(ngModel)]="data.newListName"/></span>
      <span><button (click)="createList(data.newListName)">Create</button></span>
    </div>
    <div>
      <span><input type="text" [(ngModel)]="data.searchTerm"/></span>
      <span><button (click)="filterList(data.searchTerm)">Filter</button></span>
    </div>
  </div>
  <div class="middle">
    <div class="left-panel">
      <div *ngFor="let list of lists" (click)="selectList(list)"
        [ngClass]="{'selected':list===data.selectedList}"
        class="list">
        <small>{{list.id}}</small>
        <span>{{list.name}}</span>
        <sup>{{list.items.length}} items</sup>
        <button (click)="deleteList(list)">Delete</button>
      </div>
    </div>
    <div class="main-panel">
      <div *ngIf="data.selectedList">
        <h1>{{list}}</h1>
        <div>
          <span><input type="text" [(ngModel)]="data.newItemName"/></span>
          <span><button (click)="createItem(data.selectedList,data.newItemName)">Create Item</button></span>
        </div>
        <div *ngFor="let item of data.selectedList.items"
          class="list-item">
          <small>{{item.id}}</small>
          <span>{{item.name}}</span>
          <button (click)="deleteItem(data.selectedList,item)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <pre>
    {{ data | json }}
  </pre>
</div-->

